.navbar-expand-lg .navbar-nav .nav-link{
  color: #fff;
}

.navbar-light .navbar-nav .nav-link{
  color: #000;
}

.navbar{
  transition: background .5s;
  // background: rgba(0, 0, 0, 1);
  // background-image: linear-gradient(to left, #3264f5, #305be4, #3b4fe2, #4740de, #7202bb) !important;

}
.navbar-toggler{
  border: 0;
  outline: none !important;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
@media screen and (max-width: 992px){
  .navbar-nav.pull-right{
    float: none !important;
    text-align: center;
  }
  .navbar{
    background: white;
    box-shadow: 6px -2px 5px 0px #9c9c9c;
    .navbar-toggler{
      color: #000000;
    }
    .nav-link{
      color: #000000 !important;
      &:hover{
        background: #eaeaea !important;
      }
    }
  }
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  background: #1f1f1f;
}
.navbar-light{
  background: white;
  box-shadow: 6px -2px 5px 0px #9c9c9c;
}
.navbar-expand-lg.navbar-light .navbar-nav .nav-link:hover{
  background: #eaeaea;
}
.navbar-light .navbar-toggler{
  color: #000;
}
