#footer {
  justify-content: center;
  text-align: center;
  padding: 60px 0;
  color: #9a9a9a;
  font-weight: 300;
  background-image: linear-gradient(to left, #031035, #010971, #240d9c, #260065, #351848) !important;
  // background-image: linear-gradient(to left, #3264f5, #4a54e8, #5b42db, #682ccb, #7202bb) !important;
}

#footer ul {
  display: inline-block;
  padding: 0;
  text-align: center;
  margin: 0;
}
#footer ul li {
  display: inline;
  list-style-type: none;
  padding: 0 7px;
  text-align: center;
  a {
    font-size: 29px;
    &.facebook{
      color: #8bb0ff;
    }
    &.twitter {
      color: #55acee;
    }
    &.github{
      color: #F4CBB2;
    }
    &.linkedin{
      color: #0077B5;
    }
  }
}
#footer h3{
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 23px;
}
