#header{
  background-image: url("/assets/images/bg1.jpg");
}
.text-wrapper h3 {
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 10px;
}
.text-wrapper {
  line-height: 25px;
  z-index: 2;
  /*max-width: 40%;*/
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.text-wrapper p {
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 5px;
  padding: 7px 0;

}
.text-wrapper .contact-us-btn{
  background: rgb(36,28,0);
  background: linear-gradient(90deg, rgba(36,28,0,0.5) 0%, rgba(83,9,121,0.5) 30%, rgba(0,37,255,0.6) 100%);
  border: 0;
}


section#header {
  padding: 60px 60px;
  min-height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

#header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}


h3.title {
  text-align: center;
  font-weight: 300;
  padding-bottom: 40px;
}

section#stack {
  padding: 60px 0;
}

#newtry{
  padding:100px 0;}

.new-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.new-item img{
  max-height: 270px;
  /* box-shadow: 8px -1px 54px 1px rgba(148, 148, 148, 0.6196078431372549); */
}
.new-item .img-holder{
  text-align: center;
  flex: 1 1 50%;
}

.detail-block{
  padding: 30px 60px;
  font-weight: 300;
  flex: 1 1 50%;
  font-size: 16px;
}
.detail-block h3{
  /* font-size: 43px; */
  font-weight: 100;
  padding-bottom: 15px;
}
.detail-block p{
  line-height: 33px;
  font-size: 16px;
}


.new-item .img-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.new-item img{
  max-height: 1500px;
  width: 130px;
  margin: 15px;
}

.text-wrapper h3{
  margin-bottom: 0;
  margin-top: 20px;
}
.new-item{
  flex-flow: row wrap;
}
.detail-block{
  min-width: 300px;
}
.new-item img{
  max-width: 270px;
}
@media screen and (max-width: 768px){
  .wrap-reverse{
    flex-flow: wrap-reverse;
  }
  .new-item img{
    width: 100px;
  }
  #contact-form .flex-half, #contact-form .flex-half .input-field{
    padding-left: 0 !important;
  }
  .form-line{
    border: 0;
  }
}
.send-msg-button{
  /*background: rgb(36,28,0);*/
  /*background: -webkit-gradient(linear, left top, right top, from(rgba(36,28,0,0.5)), color-stop(30%, rgba(83,9,121,0.5)), to(rgba(0,37,255,0.6)));*/
  /*background: linear-gradient(90deg, rgba(36,28,0,0.5) 0%, rgba(83,9,121,0.5) 30%, rgba(0,37,255,0.6) 100%);*/
  border: 0;
  /*padding: 8px 17px;*/
  width: auto;
  margin-top: 15px;
  /*color: white;*/
  border-radius: 6px;
  font-weight: 400;
}
.send-msg-button:hover, .send-msg-button:focus {
  text-decoration: none;
  outline: none;
}
