/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  color: #d6741f;
}
