#header {
  background-image: url("/assets/images/hero-bg-4.jpg");

  .shape-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
  }
  .sign-up-form-wrap {
    background: #ffffff;
    margin-top: 15px;
    z-index: 3;

    .invalid-name,
    .invalid-email,
    .invalid-message {
      color: #e46666;
      font-size: 12px;
    }
  }
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    .input-icon {
      height: 100%;
      position: absolute;
      z-index: 2;
      display: block;
      width: 40px;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #b1b1b1;
        position: absolute;
        font-size: 18px;
        border-radius: 4px;
      }
    }
    input {
      text-indent: 35px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      height: calc(2.65em + 0.75rem + 2px);
      border: 1px solid #ced4da;
      font-size: 13px;
      &:focus {
        z-index: 1;
        outline: none;
        box-shadow: none;
      }
    }
    .textarea-icon {
      align-items: flex-start;
      padding-top: 5px;
    }
    textarea {
      text-indent: 30px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      /* height: calc(2.65em + 0.75rem + 2px); */
      border: 1px solid #ced4da;
      font-size: 13px;
      &:focus {
        z-index: 1;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .solid-btn {
    color: #fff;
    -webkit-box-shadow: 0 20px 30px 0 rgba(67, 37, 204, 0.2);
    box-shadow: 0 20px 30px 0 rgba(67, 37, 204, 0.2);
    background: #7202bb;
    border: 2px solid #7202bb;
    border-radius: 30px;
  }
}
.text-wrapper h3 {
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 10px;
  color: #ffffff;
}
.text-wrapper {
  line-height: 25px;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  height: 100%;
}
.text-wrapper p {
  font-size: 23px;
  font-weight: 100;
  padding: 7px 0;
}
.text-wrapper .contact-us-btn {
  background: rgb(36, 28, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 28, 0, 0.5) 0%,
    rgba(83, 9, 121, 0.5) 30%,
    rgba(0, 37, 255, 0.6) 100%
  );
  border: 0;
}

.skills-container p > i {
  margin-right: 7px;
}
.text-wrapper button {
  padding: 8px 30px;
}
section#header {
  padding-top: 60px;
  min-height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  background-size: cover;
  // background-attachment: fixed;
}

#header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  // background: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(
    to left,
    rgba(50, 100, 245, 0.9),
    rgba(74, 84, 232, 0.88),
    rgba(91, 66, 219, 0.85),
    rgba(104, 44, 203, 0.88),
    rgba(114, 2, 187, 0.9)
  );
  width: 100%;
}

h3.title {
  text-align: center;
  font-weight: 300;
  padding-bottom: 40px;
}

section#stack {
  padding: 60px 0;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
}

.skills-container p {
  flex: 1 1 25%;
}

section#about {
  padding: 10px 0;
  background: #ffffff;
  /* padding-top: 0; */
}

.short-about {
  /* background: #1976d2; */
  /* color: #fff; */
  padding: 46px 60px;
  border-radius: 25px;
  max-width: 70%;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 60px; */
}

.expertise-container {
  display: flex;
  justify-content: center;
}

.expertise-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.expertise-item img {
  width: 62px;
  margin-bottom: 29px;
}

/*team*/

.team-slider {
  position: relative;
}
.team-slider .member {
  padding: 0;
  margin: 0;
  position: relative;
  max-height: 450px;
  overflow: hidden;
  background-color: #22252c;
}
.team-slider .member .details-expander {
  width: 50px;
  height: 50px;
  background-color: #d9534f;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
  box-shadow: -1px -1px 2px rgba(34, 37, 44, 0.25);
}
.team-slider .member .details-expander:hover {
  background-color: #d43f3a;
}
.team-slider .member .details-expander span {
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  top: 20px;
  left: 24px;
  transition: all 0.15s ease-in-out;
}
.team-slider .member .details-expander span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.team-slider .member .details-expander span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.team-slider .member .person-img {
  position: relative;
  z-index: 1;
  transition: all 0.15s;
}
.team-slider .member .person-img:hover {
  cursor: pointer;
  opacity: 0.9;
}
.team-slider .member .person-details {
  padding: 0 15px;
  background-color: transparent;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  z-index: 2;
}
.team-slider .member .person-details .cred {
  margin-bottom: 25px;
  padding-right: 50px;
}
.team-slider .member .person-details .cred h3 {
  font-size: 12pt;
  color: #fff;
}
.team-slider .member .person-details .cred h4 {
  color: #dcae1d;
  font-size: 14px;
}
.team-slider .member .person-details .description {
  margin-bottom: 25px;
}
.team-slider .member.expanded {
  z-index: 3;
}
.team-slider .member.expanded .details-expander span {
  top: 35px;
}
.team-slider .member.expanded .details-expander span:first-child {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.team-slider .member.expanded .details-expander span:last-child {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.team-slider .member.expanded .person-img {
  box-shadow: 2px 0 3px rgba(34, 37, 44, 0.5);
}
.team-slider .member.expanded .person-details {
  border-color: #22252c;
  -webkit-transform: translate(0, -90%);
  transform: translate(0, -90%);
  background-color: #fff;
  padding-top: 30px;
}
.team-slider .member.expanded .person-details .cred h3 {
  color: #22252c;
}

.collor-pallete ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.collor-pallete ul li {
  display: inline-block;
  max-width: 85px;
  width: 100%;
  height: 25px;
}
.collor-pallete ul li#color-primary {
  background-color: #dcae1d;
}
.collor-pallete ul li#color-secondary {
  background-color: #22252c;
}
.collor-pallete ul li#color-third {
  background-color: #d9534f;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: 15px;
}
.copyright a {
  background-color: #d9534f;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}
.copyright a:hover {
  background-color: #d43f3a;
}
.person-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.team {
  padding: 100px 0;
  background-image: url("/assets/images/slider-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: center;
}

.team .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
}

#newtry {
  padding: 100px 0;
  background: #fdfdfd;
}

.new-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.new-item img {
  max-height: 270px;
  /* box-shadow: 8px -1px 54px 1px rgba(148, 148, 148, 0.6196078431372549); */
}
.new-item .img-holder {
  text-align: center;
  flex: 1 1 50%;
}

.detail-block {
  padding: 30px 60px;
  font-weight: 300;
  flex: 1 1 50%;
  font-size: 16px;
}
.detail-block h3 {
  /* font-size: 43px; */
  font-weight: 100;
  padding-bottom: 15px;
}
.detail-block p {
  line-height: 33px;
  font-size: 16px;
}

/*Contact sectiom*/
.content-header {
  color: #000;
  font-weight: 300;
  /*font-size: 45px;*/
}

.section-content {
  text-align: center;
}
.section-content h3 {
  font-weight: 300;
  font-size: 18px;
}
#contact {
  padding-top: 60px;
  width: 100%;
  min-height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: linear-gradient(
    to left,
    #3a6186,
    #a4d3ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 300;
}
.contact-section {
  padding-top: 40px;
}
.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #ffffff;
}

.form-group {
  margin-top: 10px;
}
.form-control {
  /*font-size: 1.3em;*/
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

#contact-form {
  display: flex;
  justify-content: center;
}
.flex-half {
  flex: 1 1 50%;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #757575;
  background: transparent;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.group {
  position: relative;
  margin-bottom: 35px;
}

.materialize-textarea {
  background: #ffffff29;
  border: 0;
  /* border-bottom: 1px solid #fff; */
  width: 100%;
  min-height: 208px;
  padding: 10px;
  color: #fff;
  border-radius: 15px;
}

.materialize-textarea:focus {
  border: 0 !important;
  box-shadow: none;
  outline: none;
}
.materialize-textarea::placeholder {
  font-style: italic;
}

.short-about {
  padding: 46px 4%;
}
.text-wrapper p {
  text-align: center;
}
.new-item {
  flex-flow: row wrap;
}
.detail-block {
  min-width: 300px;
}
.new-item img {
  max-width: 270px;
}
#contact-form {
  flex-flow: row wrap;
}

#contact-form .flex-half {
  min-width: 300px;
}
@media screen and (max-width: 768px) {
  .wrap-reverse {
    flex-flow: wrap-reverse;
  }
  #contact-form .flex-half,
  #contact-form .flex-half .input-field {
    padding-left: 0 !important;
  }
  .form-line {
    border: 0;
  }
}
.send-msg-button {
  background: rgb(36, 28, 0);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(36, 28, 0, 0.5)),
    color-stop(30%, rgba(83, 9, 121, 0.5)),
    to(rgba(0, 37, 255, 0.6))
  );
  background: linear-gradient(
    90deg,
    rgba(36, 28, 0, 0.5) 0%,
    rgba(83, 9, 121, 0.5) 30%,
    rgba(0, 37, 255, 0.6) 100%
  );
  border: 0;
  padding: 8px 17px;
  width: auto;
  margin-top: 15px;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
